name: Test and Deploy
on: push

jobs:
  static_analysis:
    name: Static Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Elixir
        uses: erlef/setup-elixir@v1
        with:
          elixir-version: '1.13.1'
          otp-version: '24.1'

      - name: Restore dependencies cache
        uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.os }}-mix-v2-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-v2-

      - name: Setting up SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: |
            ${{ secrets.MACHINE_USER_SSH_KEY }}

      - name: Install dependencies
        run: mix deps.get

      - name: Restore PLT cache
        uses: actions/cache@v2
        with:
          path: priv/plts
          key: ${{ runner.os }}-mix-v2-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-v2-

      - name: Mix Formatter
        run: mix format --check-formatted

      - name: Check for compiler warnings
        run: mix compile --warnings-as-errors

  unit_test:
    name: Run ExUnit tests (lib)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Elixir
        uses: erlef/setup-elixir@v1
        with:
          elixir-version: '1.13.1'
          otp-version: '24.1'

      - name: Restore dependencies cache
        uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.os }}-mix-v2-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-v2-

      - name: Setting up SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: |
            ${{ secrets.MACHINE_USER_SSH_KEY }}

      - name: Install dependencies
        run: mix deps.get

      - name: ExUnit tests (library)
        env:
          MIX_ENV: test
        run: mix test
  deploy:
    needs: test
    
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v2
      with:
        ref: main
        fetch-depth: 0
    - uses: actions/setup-python@v2
      with: 
        python-version: "3.8.1"

    - uses: mhanberg/gigalixir-action@v0.6.2
      with:
        GIGALIXIR_USERNAME: ${{ secrets.GIGALIXIR_USERNAME }}
        GIGALIXIR_PASSWORD: ${{ secrets.GIGALIXIR_PASSWORD }}
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        GIGALIXIR_APP: ${{ secrets.GIGALIXIR_APP }}
        MIGRATIONS: false 